#ReportList {
  width: 1500px;
  background: #fff;
  padding: 50px;
  margin: 0 auto;
  margin-top: 50px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);

}

.ReportList {
  background: #fc726d2d;
  margin: auto;
  margin-top: 30px;
  padding: 50px 30px;
  border-radius: 5px;
  box-shadow: 0 0 14px 0 rbga(0, 0, 0, 0.02);
}

.input-block + .input-block {
  margin-top: 20px;
}

.input-group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.input-group .input-block {
  margin-top: 0;
}

.input-block label {
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.input-block-edit input {
  width: 100%;
  height: 32px;
  font-size: 16px;
  margin-top: 10px;
  color: black;
  border: 0;
  border-bottom: 1px solid #eee;
}

.button-group {
  margin-top: 20px;
  display: block; 
}

.button-group button {
  color: #fff;
  font-size: 16px;
  background: #fc6963;
  height: 35px;
  border: 0;
  border-radius: 5px;
  width: 10%;
  cursor: pointer;
}

.button-group button + button {
  margin-left: 20px;
}
#ReportList hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}
#ReportList a {
  font-size: 16;
  font-weight: bold;
  text-decoration: none;
}