@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: #F7F8FC;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
}

body, input, button { 
    font-family: Roboto, sans-serif;
}

.container-center {
    max-width: 1140px;
    margin: 0 auto;
}