.project-list--cards-container {
  margin-top: 10px;
}

.project-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project-list--card {
  background: #f2f2f3;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 15px;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  float: left;
  margin-left: 1.33333%;
  margin-bottom: 1.33333%;
}

.project-list--card:first-child,
.project-list--card:nth-child(4n + 5) {
  margin-left: 0;
}

.project-list--card:hover {
  border: 1px solid #333333;
}

.project-list--card h3 {
  margin: 0;
  color: #333333;
  overflow: hidden;
}

.project-list--card span {
  width: fit-content;
  align-self: flex-start;
}

.project-list--card header {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.project-list--card p {
  color: #666666;
}

.project-list--card footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.project-list--card:hover {
  cursor: pointer;
}
.project-list--card-buttons {
  opacity: 0.8;
}

.project-list--card-buttons:hover {
  opacity: 1;
}
.project-list--card div {
  font-size: 14px;
  color: #666666;
}

.project-list {
  margin-top: 50px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container strong {
  font-size: 30px;
  color: #666666;
}

.create-project-button {
  border: 1px solid #333333;
  background: #333333;
  border-radius: 5px;
  padding: 8px 12px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.create-project-button:hover {
  opacity: 0.9;
}

.project-list--card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-list--card span {
  border: 1px solid #666666;
  color: #666666;
  padding: 2px 5px;
  height: fit-content;
  border-radius: 5px;
}
