.page-header {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding: 10px 0px;
}

.page-header .top-bar-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-navbar);
  padding: 0.2rem 0;
}
.login-button,
.create-account-button {
  height: 3.2rem;
  transition: opacity 0.2s;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

.login-button:hover,
.create-account-button:hover {
  opacity: 0.6;
}

.page-header .top-bar-container img {
  height: 3.5rem;
}

.create-account-button {
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.2rem 1rem;
  color: #ffffff;
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.login-button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.2rem 1rem;
  color: #333333;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.navigation-bar-isAuthenticated {
  width: 60%;
}

.menu-navigation {
  display: flex;
  justify-content: space-between;
}
